<div class="view">
    <h1>Lista de clientes</h1>
    <div class="halfWidth cliente" *ngFor="let item of list">
        <div class="nombre">{{item.nombre}} {{item.apellido}}</div>
         <div class="isFlex mb">
            <div class="label">Edad:</div>
            <div>{{item.edad}}</div>
        </div>
         <div class="isFlex mb">
            <div class="label">Fecha de nacimiento:</div>
            <div>{{item.fechaNacimiento}}</div>
        </div>
         <div class="isFlex mb">
            <div class="label">Fecha de muerte estimada:</div>
            <div>{{item.fechaAproxMuerte}}</div>
        </div>
    </div>
</div>