<main class="main">
  <header class="header">
    <div class="left-content">
      <img src="logo.png" alt="logo" height="100px" width="100px"/>
    </div>
    <nav class="right-content">
      <a routerLink="" routerLinkActive="active">Form</a>
      <a routerLink="/estadisticas" routerLinkActive="active">Estadisticas</a>
      <a routerLink="/lista" routerLinkActive="active">lista</a>
    </nav>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>